@model dynamic

@{
    ViewBag.Title = "MyAds";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}
<div class="container">
    <h2>MyAds</h2>
    <hr/>
    <div class="row">
        <div class="col-md-12">

            <h3>Pending Ads</h3><hr/>
            @if (Model.ActiveAds != null)
            {
                <div class="row">

                    @foreach (var penddingAds in Model.PenddingAds)
                    {
                        <div class="col-md-6">
                            <img class="img-thumbnail img-fluid" src="@penddingAds.ImageUrl1" alt="" height="200" width="250"/>
                        </div>

                        <div class="col-md-6">
                            <h4>@penddingAds.Name</h4>
                        </div>
                    }

                </div>
            }
            else
            {
                <hr/>
                <div class="alert alert-warning" role="alert">
                    Sorry! No record found.
                </div>
            }

        </div>
    
        <div class="col-md-12">
            <hr />
            <h3>Active Ads</h3><hr />
            @if (Model.ActiveAds != null)
            {
                <div class="row">
                    @foreach (var activeAds in Model.ActiveAds)
                    {
                        <div class="col-md-6">
                            <img class="img-thumbnail img-fluid" src="@activeAds.ImageUrl1" alt="" height="200" width="250" />
                        </div>

                        <div class="col-md-6">
                            <h4>@activeAds.Name</h4>
                        </div>
                    }

                </div>
            }
            else
            {
                <hr />
                <div class="alert alert-warning" role="alert">
                    Sorry! No record found.
                </div>
            }

        </div>

    </div>
</div>


