@model List<Auction.Entities.Product>

@{
    ViewBag.Title = "RejectedAds";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<div class="row">
    <div class="col col-lg-12">
        <h2>Ads</h2>
        <hr />
    </div>

    <div class="col col-lg-12">
        @{Html.RenderPartial("_RejectedAdList", Model);}
    </div>


</div>